<form [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [formControl]="email">
      <!-- <span>{{!email.valid && !email.untouched ? "*Enter Correct Email" : ""}}</span> -->
      <span [hidden]="email.valid || email.untouched">*Enter Correct Email</span>

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl]="password">
      <span [hidden]="password.valid || password.untouched">*Enter Correct Password</span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="login()">Sign In</button>
  </form>
